@charset "UTF-8";

/* Imágenes PNG -----------------------------------------------------------------------------------------------------------*/
img, div { behavior: url(iepngfix.htc) }


/*-------------------------------------------------------------------------------------------------------------------------*/

*{
	outline: none;
}

body
{
	margin:			0;
}

/* GENERAL ----------------------------------------------------------------------------------------------------------------*/

.background_general
{
//	background:url(imagenes/background_general_grey.jpg);
	background:lightyellow
}



/* FONTS ------------------------------------------------------------------------------------------------------------------*/

.gris666_11 {
	font-family: Arial;
	font-size: 11px;
	color: #666;
	text-decoration: none;
	text-shadow: 0px -1px 0px #000000;
}

.menu_icons
{
	font-family:Arial;
	font-size:14px;
	color:#999;
	text-shadow: 0px 1px 0px #000000;
	text-decoration:none;
	opacity:0.9;
	line-height:5px;
}

	.menu_icons a:hover
	{
		color:#fff;
		text-shadow: 0px 1px 0px #000000;
		text-decoration:none;
		opacity:1;
	}
	
	.menu_icons a:active
	{
		color:#999;
		text-shadow: 0px 1px 0px #000000;
		text-decoration:none;
		opacity:0.6;
	}




/* FORMS ------------------------------------------------------------------------------------------------------------------*/

.espacios
{
	margin: 0px;
	padding: 0px;
}


















